<!doctype html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title | default: "Majestro Cuckoo" }}</title>
</head>

<body>
  {% include "header" %}
  <main class="px-8 pb-12 max-w-screen-lg">
    {{ content }}
  </main>
</body>
</html>